@font-face {
	font-family: "Gilroy-ExtraBold";
	font-weight: normal;
	font-style: normal;
	src: url("../fonts/gilroyextrabold.woff2") format("woff2"), url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
	font-family: "Gilroy-Light";
	font-weight: normal;
	font-style: normal;
	src: url("../fonts/gilroylight.woff2") format("woff2"), url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
	font-family: "OpenSans-Regular";
	font-weight: normal;
	font-style: normal;
	src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
}

@font-face {
	font-family: "OpenSans-Light";
	font-weight: normal;
	font-style: normal;
	src: url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
}

body {
	margin: 0;
	padding: 0;

	font-family: "OpenSans-Light", Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
	color: #464646;

	background-color: #ffffff;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	-webkit-clip-path: inset(100%);

	        clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.button {
	display: inline-block;

	font-family: "Gilroy-ExtraBold", "Tahoma", sans-serif;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 4px;
	color: #000000;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
	
	width: 220px;
	padding: 8px 10px;
	padding-left: 13.7px;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40%, transparent), color-stop(40%, #f0c52e), color-stop(60%, #f0c52e), color-stop(60%, transparent));
	background-image: -o-linear-gradient(top, transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%);
	background-image: linear-gradient(180deg, transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%);
	background-color: transparent;
	border: none;
	-webkit-box-sizing: border-box;
	 	      box-sizing: border-box;

	cursor: pointer;
}

.button:hover,
.button:focus {
	background-color: #f0c52e;
	background-image: none;
}

.button:active {
	color: rgba(0, 0, 0, 0.3);
}

.main-navigation {
	color: #000000;
}

.main-navigation input[class="search"] {
	opacity: 0.3;

	width: 315px;
	padding: 11px 0 11px 40px;

	background-color: transparent;
	border: none;
	border-bottom: 2px solid transparent;

	letter-spacing: 0.1px;
}

.main-navigation input[class="search"]:hover {
	opacity: 0.6;
}

.main-navigation input[class="search"]:focus {
	opacity: 1;

	border-bottom: 2px solid #000000;
	outline: none;
}

.search-form {
	position: relative;
}

.search-form::before {
	content: "";

	position: absolute;
	top: 17px;
	left: 4.5px;
	width: 15px;
	height: 15px;

	background-image: url(../img/icons/search.svg);
	background-repeat: no-repeat;
}

.button-search {
	background-color: transparent;
	border: 2px solid #000000;
	padding: 14px 18px;

	cursor: pointer;
}

.button-search:hover,
.button-search:focus {
	background-color: #000000;

	color: #ffffff;
}

.button-search:active {
	color: rgba(255, 255, 255, 0.3);
}

.site-navigation,
.user-navigation,
.additional-user-nav,
.header-services-nav,
.feedback-nav {
	list-style: none;
}

.site-navigation a,
.user-navigation a,
.additional-user-nav a,
.feedback-nav a {
	color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus,
.additional-user-nav a:hover,
.additional-user-nav a:focus,
.feedback-nav a:hover,
.feedback-nav a:focus {
	opacity: 0.6;
}

.site-navigation a:active,
.user-navigation a:active,
.additional-user-nav a:active,
.feedback-nav a:active {
	opacity: 0.3;
}

.site-navigation {
	position: relative;
}

.login-link {
	position: relative;
	padding-left: 27px;
}

.login-link::before {
	content: "";

	position: absolute;
	top: 4px;
	left: 1.5px;
	width: 13px;
	height: 12px;

	background-image: url(../img/icons/user.svg);
	background-repeat: no-repeat;
}

.inner-page .login-link {
	padding-left: 0;
}

.inner-page .login-link::before {
	display: none;
}

.inner-page .login-name {
	position: relative;
	padding-left: 27px;
}

.inner-page .login-name::before {
	content: "";

	position: absolute;
	top: 4px;
	left: 1.5px;
	width: 13px;
	height: 12px;

	background-image: url(../img/icons/user.svg);
	background-repeat: no-repeat;
}

.additional-user-nav a {
	position: relative;
	padding-left: 20px;
}

.additional-user-nav .compare::before {
	content: "";

	position: absolute;
	top: 10px;
	left: 0;
	width: 10px;
	height: 10px;

	background-image: url(../img/icons/compare.svg);
	background-repeat: no-repeat;
}

.additional-user-nav .basket {
	padding-left: 24px;
}

.additional-user-nav .basket::before {
	content: "";

	position: absolute;
	top: 8px;
	left: 1px;
	width: 12px;
	height: 12px;

	background-image: url(../img/icons/cart.svg);
	background-repeat: no-repeat;
}

.catalog-navigation .catalog-link {
	position: relative;
	padding-right: 32px;
}

.catalog-navigation .catalog-link::after {
	content: "";

	position: absolute;
	top: 3px;
	right: 3px;
	width: 16px;
	height: 16px;

	background-image: url(../img/icons/plus.png);
	background-repeat: no-repeat;
	opacity: 0.3;
}

.link-uppercase {
	font-family: "Gilroy-ExtraBold", "Tahoma", sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 3.6px;
}

.additional-site-nav {
	position: absolute;
	top: 30px;
	left: -60px;
	width: 1040px;
	z-index: 3;

	background-color: #f7e296;

	list-style: none;
	padding: 30px 60px 36px;
}

.second-site-nav {
	list-style: none;
	letter-spacing: 0.5px;

	padding: 0;
	margin: 0;
	margin-right: 64px;
}

.slider-goods-wrapper {
	width: 1160px;

	background-image: -o-linear-gradient(top, #f7e296 110px, #ffffff 110px);

	background-image: linear-gradient(180deg, #f7e296 110px, #ffffff 110px);
}

.slider-goods-list {
	list-style: none;
}

.slider-good-item .imagine-part {
	margin-left: 30px;
}

.slider-good-item img {
	background-color: transparent;
}

.second-slide .imagine-part {
	margin-left: 55px;
	margin-top: 15px;
}

.third-slide .imagine-part {
	margin-left: -30px;
	margin-top: 60px;
}

.slider-good-item .description-part {
	position: relative;

	padding-top: 78px;
}

.slider-good-item .description-part::before {
	content: "";

	position: absolute;
	top: 37px;
	left: 0;
	width: 100px;
	height: 7px;

	background-color: #ffffff;
}

.slider-good-item .description-part::after {
	content: "01";

	position: absolute;
	top: -15px;
	right: 4px;
	width: 165px;
	height: 180px;
	z-index: 1;

	font-family: "Gilroy-ExtraBold", "Tahoma", sans-serif;
	font-size: 179.2px;
	line-height: 179.2px;
	color: #ffffff;
}

.second-slide .description-part::after {
	content: "02";

	right: 27px;
}

.third-slide .description-part::after {
	content: "03";

	right: 27px;
}

.slider-good-item b {
	font-family: "Gilroy-ExtraBold", "Tahoma", sans-serif;
	font-size: 47px;
	line-height: 56px;
	color: #000000;
	letter-spacing: 0.6px;

	position: relative;
	z-index: 2;
}

.slider-good-item p {
	margin: 0;
	margin-top: 20px;

	letter-spacing: 0.18px;
}

.first-slide p {
	width: 485px;
}

.second-slide p,
.third-slide p {
	width: 460px;
}

.slider-navigation {
	padding: 0;
	padding-right: 22px;
}

.slider-navigation li:not(:last-of-type) {
	margin-right: 21px;
}

.slider-navigation .slider-button {
	width: 12px;
	height: 12px;
	padding: 0;

	background-color: transparent;
	border: 1px solid #050505;
	border-radius: 50%;

	cursor: pointer;
}

.slider-navigation .slider-button:hover,
.slider-navigation .slider-button:focus,
.slider-navigation .slider-button:active {
	-webkit-box-shadow: 
		inset 0 0 0 3px #ffffff,
		inset 0 0 0 4px #050505;
	        box-shadow: 
		inset 0 0 0 3px #ffffff,
		inset 0 0 0 4px #050505;
}

.slider-navigation,
.properties-list {
	list-style: none;
}

.slider-good-item .property-value {
	font-family: "Gilroy-Light", "Tahoma", sans-serif;
	font-size: 36px;
	line-height: 48px;
	color: #000000;
}

.slider-good-item .property-name {
	font-size: 13px;
	line-height: 20px;
}

.popular-goods-list {
	list-style: none;
}

.popular-goods h3 {
	font-family: "Gilroy-ExtraBold", "Tahoma", sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
}

.popular-good-icon {
	background-color: #f7e296;
}

.popular-good-item a {
	color: #000000;
}

.popular-goods a:hover,
.popular-goods a:focus {
	color: #000000;
}

.popular-goods a:hover .popular-good-icon,
.popular-goods a:focus .popular-good-icon {
	background-color: #f0c52e;
}

.popular-goods a:active h3,
.popular-goods a:active img {
	opacity: 0.3;
}

.services {
	background-image: -o-linear-gradient(top, #ffffff 100px, #e5e5e5 100px);
	background-image: linear-gradient(180deg, #ffffff 100px, #e5e5e5 100px);
}

.services-navigation,
.services-list {
	list-style: none;
}

.services-button {
	background-color: transparent;

	width: 160px;
	padding: 8px 0;
	padding-left: 3.7px;
}

.services-bookmark:active {
	background-color: #000000;
}

.services-bookmark:active .services-button {
	background-color: #000000;
	color: #f7e184;
	background-image: none;
}

.services-button-current,
.services-button-current:hover,
.services-button-current:focus {
	background-color: #000000;
}

.services-button-current .services-button,
.services-button-current:hover .services-button,
.services-button-current:focus .services-button {
	color: #f7e184;
	background-image: none;
	background-color: #000000;
}

.service-item {
	position: relative;
}

.service-item p {
	letter-spacing: 0.3px;
}

.service-item::after {
	content: "";
	position: absolute;
	top: 12px;
	right: 65px;
	width: 136px;
	height: 164px;

	background-image: url(../img/services_slider/delivery.svg);
}

.services h3 {
	font-family: "Gilroy-ExtraBold", "Tahoma", sans-serif;
	font-size: 47px;
	line-height: 48px;
	color: #000000;
	letter-spacing: 1.5px;
}

.warranty-item::after {
	width: 171px;
	height: 194px;
	top: -12px;
	right: 45px;

	background-image: url(../img/services_slider/warranty.svg);
}

.credit-item::after {
	width: 156px;
	height: 186px;
	top: -12px;
	right: 70px;

	background-image: url(../img/services_slider/credit.svg);
}

.partners-list {
	list-style: none;
}

.partner-item .color-image {
	display: none;
}

.partner-item:hover .black-image,
.partner-item:focus .black-image,
.partner-item:active .black-image {
	display: none;
}

.partner-item:hover .color-image,
.partner-item:focus .color-image,
.partner-item:active .color-image {
	display: block;
}

.index-columns h2 {
	font-family: "Gilroy-ExtraBold", "Tahoma", sans-serif;
	font-size: 47px;
	line-height: 48px;
	color: #000000;
	letter-spacing: 0.3px;

	margin: 0;
	margin-bottom: 43px;
	margin-top: 52px;
}

.index-columns section {
	position: relative;
}

.index-columns section::before {
	content: "";

	position: absolute;
	top: 0;
	left: 0;
	width: 80px;
	height: 7px;

	background-color: #000000;
}

.index-columns p {
	letter-spacing: 0.1px;

	margin: 0;
	margin-bottom: 30px;
}

.index-columns .button-bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 260px;

	-webkit-box-sizing: border-box;

	        box-sizing: border-box;
}

.delivery-partners-list {
	font-family: "Gilroy-ExtraBold", "Tahoma", sans-serif;
	font-size: 16px;
	line-height: 40px;
	color: #000000;
	list-style: none;

	margin: 0;
	padding: 0;
	margin-top: 65px;
	margin-bottom: 60px;
}

.delivery-partners-list li {
	position: relative;

	padding-left: 35px;

	letter-spacing: 0.3px;
}

.delivery-partners-list li::before {
	content: "";

	position: absolute;
	top: 17px;
	left: 2px;
	width: 4px;
	height: 4px;

	border: 2px solid #e6e6e6;
	border-radius: 50%;
}

.button-map {
	width: 560px;
	height: 222px;
	margin-top: 10px;
	margin-bottom: 70px;
	padding: 0;
	border: none;

	background-color: #e9e9e9;

	cursor: pointer;
}

.inner-header-logo:hover,
.inner-header-logo:focus {
	opacity: 0.6;
}

.inner-header-logo:active {
	opacity: 0.3;
}

.page-title {
	font-family: "Gilroy-ExtraBold", "Tahoma", sans-serif;
	font-size: 47px;
	line-height: 48px;
	color: #000000;
	letter-spacing: 0.6px;
}

.breadcrumbs {
	list-style: none;
}

.breadcrumbs li {
	position: relative;

	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.15px;

	margin-right: 37px;
}

.breadcrumbs li::after {
	content: "";

	position: absolute;
	top: 8.5px;
	right: -20px;
	width: 4px;
	height: 7px;

	background-image: url(../img/icons/nav-arrow.svg);
}

.breadcrumbs a {
	color: #000000;
	opacity: 0.3;
}

.breadcrumbs a:hover,
.breadcrubs a:focus {
	opacity: 0.6;
}

.breadcrumbs a:active {
	opacity: 0.1;
}

.breadcrumbs-current {
	opacity: 0.3;
}

.breadcrumbs-current::after {
	display: none;
}

.filters {
	color: #000000;
	font-size: 14px;
	line-height: 40px;

	background-color: #eeeeee;
}

.filters-title {
	font-family: "Gilroy-ExtraBold", "Tahoma", sans-serif;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 3.8px;
	text-transform: uppercase;
	color: #000000;

	background-color: #dbdbdb;
}

.filter-form fieldset {
	border: none;
}

.filter-legend {
	font-family: "Gilroy-ExtraBold", "Tahoma", sans-serif;
	font-size: 18px;
	line-height: 24px;

	width: 100%;
	border-top: 2px solid #000000;
	margin: 0;
	padding-top: 10px;
	margin-bottom: 20px;
}

.filter-form ul {
	list-style: none;
}

.filter-range {
	width: 100%;
	min-height: 36px;
}

.filter-input + label {
	position: relative;

	padding-left: 40px;

	cursor: pointer;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

.filter-input + label::before {
	content: "";

	position: absolute;
	top: -2px;
	left: 0;
}

.filter-input-checkbox:not(:checked) + label::before {
	width: 19px;
	height: 19px;

	border: 2px solid #000000;
	border-radius: 3px;
}

.filter-input-checkbox:checked + label::before {
	height: 23px;
	width: 27px;

	background-image: url(../img/forms/checkbox-on.svg);
}

.filter-input-radio + label::before {
	width: 17px;
	height: 17px;
	top: -3px;

	border: 4px solid #000000;
	border-radius: 50%;
}

.filter-input-radio:checked + label::after {
	content: "";

	position: absolute;
	width: 9px;
	height: 9px;
	top: 5px;
	left: 8px;

	background-color: #000000;
	border-radius: 50%;
}

.filter-input:hover + label::before,
.filter-input:focus + label::before,
.filter-input:hover + label::after,
.filter-input:focus + label::after {
	opacity: 0.6;
}

.filter-input:active + label::before,
.filter-input:active + label::after {
	opacity: 1;
}

.filter-input:disabled + label {
	opacity: 0.25;
}

.sorting {
	font-family: "OpenSans-Regular", Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;

	background-color: #ebebeb;
}

.sorting h2 {
	font-family: "Gilroy-ExtraBold", "Tahoma", sans-serif;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 3.6px;
	text-transform: uppercase;
	color: #000000;
}

.sorting-list,
.sorting-first-list,
.sorting-second-list {
	list-style: none;
}

.sorting-list button {
	opacity: 0.3;

	background-color: transparent;

	border: none;
	padding: 0;
}

.sorting-list button:hover,
.sorting-list button:focus {
	opacity: 0.6;
}

.sorting-list button:active {
	opacity: 1;
}

.sorting-second-list button {
	position: relative;

	width: 11px;
	height: 10px;
}

.sorting-second-list button::before {
	content: "";

	position: absolute;
	top: 0;
	left: 0;
	width: 11px;
	height: 10px;

	background-image: url(../img/icons/arrow-increase.svg);
	background-repeat: no-repeat;
}

.sorting-second-list .arrow-decrease::before {
	background-image: url(../img/icons/arrow-decrease.svg);
}

.catalog-list {
	list-style: none;
}

.catalog-item {
	position: relative;
}

.catalog-item:hover .catalog-item-options,
.catalog-item:focus .catalog-item-options {
	display: block;
}

.catalog-item-title {
	font-family: "Gilroy-ExtraBold", "Tahoma", sans-serif;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.3px;
	color: #000000;
}

.catalog-item-image {
	position: relative;
	top: 0;
	left: 0;

	width: 360px;
	height: 380px;

	background-color: #efefef;

	cursor: pointer;
}

.catalog-item.new::before {
	content: "new";

	position: absolute;
	top: 29px;
	right: 27px;
	width: 60px;
	height: 60px;
	
	-webkit-box-sizing: border-box;
	
	        box-sizing: border-box;
	padding: 17px 0;
	border: 2px solid #d7d7d7;
	border-radius: 50%;
	background-color: transparent;

	color: #d7d7d7;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
	font-family: "Gilroy-ExtraBold", "Tahoma", sans-serif;
	font-size: 14px;
	line-height: 24px;

	z-index: 6;
}

.catalog-item-options {
	display: none;

	position: absolute;
	top: 0;
	left: 0;
	width: 360px;
	height: 380px;

	background-color: rgba(243, 243, 243, 0.7);
}

.catalog-item-options .button {
	position: absolute;
	top: 170px;
	left: 80px;
	width: 200px;
}

.catalog-item-price {
	font-family: "Gilroy-Light", "Tahoma", sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #464646;
}

.catalog-item-options .button-comparison {
	position: absolute;
	bottom: 127px;
	left: 108px;
	width: 145px;
	height: 36px;

	font-size: 13px;
	color: #000000;
	opacity: 0.5;
}

.catalog-item .button-comparison:hover,
.catalog-item .button-comparison:focus {
	opacity: 1;
}

.catalog-item .button-comparison:active {
	opacity: 0.2;
}

.pagination-list {
	font-family: "Gilroy-ExtraBold", "Tahoma", sans-serif;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 4px;
	list-style: none;

	background-color: #ebebeb;
}

.pagination-list a {
	text-transform: uppercase;
	color: #000000;
	opacity: 0.3;
}

.pagination-list .button-back,
.pagination-list .button-next,
.pagination-list .button-current {
	opacity: 1;
}

.pagination-list .button-back:hover,
.pagination-list .button-back:focus,
.pagination-list .button-next:hover,
.pagination-list .button-next:focus {
	background-color: #d9d9d9;
}

.pagination-list .button-back:active,
.pagination-list .button-next:active {
	color: rgba(0, 0, 0, 0.3);

	background-color: #d9d9d9;
}

.pages-list {
	list-style: none;
}

.pages-list .button-page:hover,
.pages-list .button-page:focus {
	opacity: 0.6;
}

.pages-list .button-page:active {
	opacity: 1;
}

.inner-footer-logo:hover,
.inner-footer-logo:focus {
	opacity: 0.6;
}

.inner-footer-logo:active {
	opacity: 0.3;
}

.main-footer {
	color: #ffffff;

	background-color: #464646;
}

.footer-links li {
	margin-right: 44px;
}

.footer-links a span {
	color: #ffffff;
	opacity: 0.7;
}

.footer-links a {
	display: block;
	position: relative;
}

.footer-links .login-name::before,
.footer-links .login-link::before,
.footer-links .compare::before,
.footer-links .basket::before {
	content: "";

	position: absolute;
	display: block;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;

	background-image: none;
}

.footer-links .footer-link-icon {
	display: block;
	position: absolute;
	top: 9px;
	left: 1.5px;
}

.compare .footer-link-icon {
	top: 10px;
	left: 0;
}

.footer-links a:hover svg,
.footer-links a:focus svg {
	opacity: 0.6;
}

.footer-links a:active svg {
	opacity: 0.3;
}

.footer-links a:hover span,
.footer-links a:focus span{
	opacity: 1;
}

.footer-links a:active span{
	opacity: 0.3;
}

.footer-middle p {
	margin: 0;
}

.footer-services-navigation {
	margin-top: 5px;
}

.footer-services-navigation ul,
.footer-social ul {
	list-style: none;
	text-align: center;
}

.footer-services-navigation a {
	font-family: "Gilroy-ExtraBold", "Tahoma", sans-serif;
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
	color: #ffffff;
	letter-spacing: 3.5px;
}

.footer-services-navigation a {
	margin-left: 3.5px;
}

.footer-services-navigation a:hover,
.footer-services-navigation a:focus {
	opacity: 0.6;
}

.footer-services-navigation a:active {
	opacity: 0.3;
}

.footer-decoration {
	width: 80px;
	height: 7px;

	background-color: #ffc600;
}


.footer-social a,
.footer-copyright a {
	color: #b5b5b5;
}

.footer-social li {
	position: relative;

	width: 32px;
	height: 32px;
}

.footer-social li:not(:last-of-type) {
	margin-right: 22px;
}

.social-button {
	display: block;
	position: relative;

	opacity: 0.3;
}

.social-button::before {
	content: "";

	position: absolute;
	top: 0;
	left: 0;
	width: 32px;
	height: 32px;

	background-image: url(../img/icons/facebook.svg);
}

.instagram-button::before {
	background-image: url(../img/icons/instagram.svg);
}

.twitter-button::before {
	background-image: url(../img/icons/twitter.svg);
}

.social-button:hover,
.social-button:focus {
	opacity: 0.6;
}

.social-button:active {
	opacity: 0.1;
}

.footer-copyright {
	position: relative;

	width: 27px;
	height: 35px;
}

.footer-copyright a {
	display: block;
	position: relative;
}

.footer-copyright a::before {
	content: "";

	display: block;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 100;
}

.footer-copyright-icon {
	position: absolute;
	right: 0;
	top: 0;
}

.footer-copyright:hover .footer-copyright-icon,
.footer-copyright:focus .footer-copyright-icon {
	opacity: 0.6;
}

.footer-copyright:active .footer-copyright-icon {
	opacity: 0.3;
}

.modal {
	position: fixed;

	width: 960px;
	left: 50%;
	top: 30px;
	margin-left: -480px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;

	color: #000000;

	background-color: #ffffff;
	-webkit-box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);
	        box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);

	z-index: 5;
}

.modal .button-close {
	position: absolute;
	top: 22px;
	right: 22px;
	width: 55px;
	height: 55px;

	background-color: #f0c52e;
	border-radius: 50%;
	border: none;
	opacity: 0.5;

	cursor: pointer;
	z-index: 3;
}

.modal .button-close:hover,
.modal .button-close:focus {
	opacity: 1;
}

.modal .button-close:active {
	opacity: 0.3;
	outline: none;
}

.modal .button-close::before,
.modal .button-close::after {
	content: "";

	position: absolute;
	top: 27px;
	left: 13px;
	width: 30px;
	height: 2px;

	background-color: #ffffff;
}

.modal .button-close::before {
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}

.modal .button-close::after {
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}

.modal-feedback {
	color: #000000;
	font-size: 18px;
	line-height: 24px;

	background-color: #ffffff;

	padding: 70px 100px;

	display: none;
}

.modal-feedback p {
	margin: 0;
	padding: 0;
	margin-bottom: 32px;
}

.modal-feedback label {
	font-family: "Gilroy-ExtraBold", "Tahoma", sans-serif;

	margin-bottom: 7px;
}

.feedback-form input[type="text"],
.feedback-form input[type="email"] {
	width: 360px;
	padding: 15px 20px;
}

.feedback-form textarea {
	width: 760px;
	padding: 15px 20px;
}

.feedback-form input[type="text"],
.feedback-form input[type="email"],
.feedback-form textarea {
	font-family: "OpenSans-Regular", Arial, sans-serif;
	color: #464646;
	opacity: 0.4;
	font-size: 14px;
	line-height: 18px;

	background-color: #f2f2f2;
	border: 3px solid transparent;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.feedback-form input[type="text"]:hover,
.feedback-form input[type="email"]:hover,
.feedback-form textarea:hover {
	background-color: #ebebeb;
}

.feedback-form input[type="text"]:focus,
.feedback-form input[type="email"]:focus,
.feedback-form textarea:focus {
	opacity: 1;

	-webkit-box-sizing: border-box;

	        box-sizing: border-box;
	background-color: transparent;
	border: 3px solid #f7e296;
	outline: none;
}

.feedback-form input[type="text"]:disabled,
.feedback-form input[type="email"]:disabled,
.feedback-form textarea:disabled {
	opacity: 0.5;

	-webkit-box-sizing: border-box;

	        box-sizing: border-box;
	background-color: #edb5b5;
	outline: none;
}

.modal-map {
	display: none;
	height: 559px;

	cursor: pointer;
}

.modal-map img {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;

	width: 100%;
	padding: 0;
}

.modal-map iframe {
	position: relative;
	z-index: 2;

	border: none;
}

@-webkit-keyframes bounce {
	0%   { -webkit-transform: translateX(-2000px); transform: translateX(-2000px); }
	70%  { -webkit-transform: translateX(30px); transform: translateX(30px);    }
	90%  { -webkit-transform: translateX(-10px); transform: translateX(-10px);   }
	100% { -webkit-transform: translateX(0); transform: translateX(0);       }
}

@keyframes bounce {
	0%   { -webkit-transform: translateX(-2000px); transform: translateX(-2000px); }
	70%  { -webkit-transform: translateX(30px); transform: translateX(30px);    }
	90%  { -webkit-transform: translateX(-10px); transform: translateX(-10px);   }
	100% { -webkit-transform: translateX(0); transform: translateX(0);       }
}

.modal-show {
	display: block;
	-webkit-animation-name: bounce;
	        animation-name: bounce;
	-webkit-animation-duration: 0.6s;
	        animation-duration: 0.6s;
}

@-webkit-keyframes shake {
	0%, 100%                    { -webkit-transform: translateX(0); transform: translateX(0); }
	10%, 30%, 50%, 70%, 90% { -webkit-transform: translateX(-10px); transform: translateX(-10px); }
	20%, 40%, 60%, 80%       { -webkit-transform: translateX(10px); transform: translateX(10px); }
}

@keyframes shake {
	0%, 100%                    { -webkit-transform: translateX(0); transform: translateX(0); }
	10%, 30%, 50%, 70%, 90% { -webkit-transform: translateX(-10px); transform: translateX(-10px); }
	20%, 40%, 60%, 80%       { -webkit-transform: translateX(10px); transform: translateX(10px); }
}

.modal-error {
	-webkit-animation-name: shake;
	        animation-name: shake;
	-webkit-animation-duration: 0.6s;
	        animation-duration: 0.6s;
}

/*------- Сеточные стили -------*/

html,
body {
	min-width: 1122px;
	min-height: 2000px;
}

body {
	/*---- Временно для сетки ----*/
	/*background-image: url(../img/device-index.jpg);
	background-position: top center;
	background-repeat: no-repeat;*/
}

.container {
	width: 1160px;
	margin: 0 auto;
	padding: 0 20px;
}

.main-header {
	/*---- Временно для сетки ----*/
	min-height: 175px;
}

.main-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin-top: 20px;

	/*---- Временно для сетки ----*/
	min-height: 175px;
}

.main-navigation .container {
	background-image: -o-linear-gradient(top, #ffffff 19px, #f7e296 19px);
	background-image: linear-gradient(180deg, #ffffff 19px, #f7e296 19px);

	padding: 0;
}

.main-navigation-wrapper {
	width: 1040px;
	margin: 0 auto;
}

.header-logo {
	display: block;
	position: relative;
	width: 163px;
	height: 35px;

	/*---- Временно для сетки ----*/
	/*display: block;*/
}

.navigation-line-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

	margin-top: 19px;
	margin-bottom: 25px;
	/*---- Временно для сетки ----*/
	min-height: 50px;
}

.search-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;

	width: 440px;
	min-height: 49px;
	margin: 0;
	margin-right: 100px;
	padding: 0;
}

.user-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;

	width: 280px;
	margin: 0;
	padding: 0;
}

.user-navigation li:not(:last-of-type) {
	margin-right: 25px;
}

.additional-user-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;

	width: 220px;
	margin: 0;
	padding: 0;
}

.additional-user-nav a:not(:last-of-type) {
	margin-right: 39px;
}

.site-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;

	width: 1040px;
	margin: 0;
	margin-bottom: 50px;
	padding: 0;

	/*---- Временно для сетки ----*/
	min-height: 20px;
}

.additional-site-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.catalog-navigation {
	width: 540px;
}

.header-services-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;

	width: 360px;
	padding: 0;
}

.header-services-nav li:not(:last-of-type) {
	margin-right: 35px;
}

.feedback-nav {
	text-align: right;

	width: 140px;
	padding: 0;
}

.feedback-nav li {
	position: relative;
	right: -5px;
}

.slider-goods {
	width: 1040px;
	margin: 0 auto;
	margin-bottom: 95px;
}

.slider-goods-list {
	padding: 0;
	margin: 0;
}

.slider-good-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.slider-good-item .imagine-part {
	width: 440px;
}

.slider-good-item .description-part {
	width: 500px;
}

.good-item-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;

	min-height: 40px;
	margin-top: 42px;
	margin-bottom: 50px;
}

.slider-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

	width: 80px;
}

.properties-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	margin: 0;
	padding: 0;
}

.property-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;

	margin-right: 80px;
}

.property-item:last-of-type {
	margin: 0;
}

.property-item .property-name {
	margin-top: 7px;

	letter-spacing: 0.15px;
}

.popular-goods {
	width: 100%;
	margin-bottom: 80px;
}

.popular-goods-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;

	padding: 0;
	margin: 0;
}

.popular-good-item a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
	    -ms-flex-direction: column-reverse;
	        flex-direction: column-reverse;

	width: 160px;
}

.popular-good-item h3 {
	margin: 0;
	margin-top: 35px;

	letter-spacing: 0.2px;
}

.popular-good-icon {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

	width: 100%;
	height: 160px;
}

.popular-good-item:nth-of-type(2) .popular-good-icon {
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
}

.services .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.services-navigation {
	position: relative;
	width: 278px;
	margin: 0;
	margin-top: 80px;
	margin-bottom: 138px;
	padding: 0;
}

.services-navigation li:not(:last-of-type) {
	margin-bottom: 25px;
}

.services-navigation::after {
	content: "";
	position: absolute;
	top: -80px;
	right: -7px;
	width: 7px;
	height: 319px;

	background-color: #000000;
}

.services-list {
	width: 760px;
	margin: 0;
	padding: 0;
}

.service-item {
	margin-top: 73px;
}

.service-item h3 {
	width: 500px;
	margin: 0;
}

.service-item p {
	width: 460px;
	margin: 0;
	margin-top: 30px;
}

.partners {
	width: 100%;
}

.partners-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;

	margin: 0;
	margin-top: 95px;
	margin-bottom: 92px;
	padding: 0;
}

.partner-item {
	width: 260px;
	height: 100px;
}

.partner-item:not(:nth-of-type(4n)) {
	margin-right: 40px;
}

.index-columns {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;

	width: 100%;
	margin-bottom: 82px;
}

.about-us {
	width: 480px;
	min-height: 573px;
}

.contacts {
	width: 560px;
}

.main-footer {
	padding: 65px 0;
	min-height: 200px;
}

.footer-top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.footer-links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;

	width: 480px;
	margin-top: -2px;
}

.footer-links .user-navigation {
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}

.footer-middle {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

	margin-top: 18px;
	margin-bottom: 60px;
}

.footer-services-navigation ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;

	width: 430px;
	margin: 0;
	padding: 0;
}

.footer-services-navigation li:not(:nth-of-type(3n)) {
	margin-right: 30px;
}

.footer-contacts {
	width: 250px;
}

.footer-telephone {
	text-align: right;
}

.footer-bottom {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.footer-decoration {
	width: 80px;
}

.footer-social ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;

	margin: 0;
	padding: 0;
}

.footer-copyright {
	width: 80px;
}

/*---- Сетка страницы Каталога ----*/

.inner-page main .container {
	padding-left: 80px;
	width: 1100px;
}

.page-title {
	margin-top: 35px;
	margin-bottom: 24px;

	min-height: 35px;
}

.breadcrumbs {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	margin: 0;
	margin-bottom: 45px;
	padding: 0;

	min-height: 15px;
}

.titles-wrapper {
	background-image: -webkit-gradient(linear, left top, right top, color-stop(40%, #dbdbdb), color-stop(40%, #ebebeb));
	background-image: -o-linear-gradient(left, #dbdbdb 40%, #ebebeb 40%);
	background-image: linear-gradient(90deg, #dbdbdb 40%, #ebebeb 40%);

	min-height: 70px;
}

.titles-wrapper .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.filters-title-wrapper {
	width: 267px;
	padding: 20px 0;
}

.sorting {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

	min-height: 70px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 20px 0 20px 75px;
}

.sorting h2 {
	min-width: 160px;
	padding-right: 35px;
	margin: 0;
}

.sorting-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

	width: 560px;
	padding: 0;
	margin: 0;
}

.sorting-first-list,
.sorting-second-list  {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;

	padding: 0;
	margin: 0;
}

.sorting-second-list {
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;

	width: 41px;
}

.sorting-first-list li:not(:last-of-type) {
	margin-right: 30px;
}

.sorting-second-list li:not(:nth-of-type(2n)) {
	margin-right: 15px;
}

.catalog-columns {
	background-image: -webkit-gradient(linear, left top, right top, color-stop(40%, #eeeeee), color-stop(40%, #ffffff));
	background-image: -o-linear-gradient(left, #eeeeee 40%, #ffffff 40%);
	background-image: linear-gradient(90deg, #eeeeee 40%, #ffffff 40%);
}

.catalog-columns .container{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.filters {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;

	width: 267px;
	margin-top: 70px;
}

.filter {
	margin: 0;
	margin-bottom: 30px;
	padding: 0;
}

.filter ul {
	margin: 0;
	padding: 0;
}

.filter-form {
	width: 200px;
}

.filter-form .button {
	width: 200px;
	text-align: center;
}

.catalog {
	background-color: #ffffff;

	width: 795px;
	padding-top: 25px;
	padding-left: 35px;
}

.catalog-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;

	margin: 0;
	padding: 0;
}

.catalog-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
	    -ms-flex-direction: column-reverse;
	        flex-direction: column-reverse;

	width: 360px;
	margin-top: 45px;
	margin-left: 37.5px;
}

.catalog-item-description {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;

	margin-top: 32px;

	min-height: 45px;
}

.catalog-item-title {
	width: 260px;
	margin: 0;
}

.pagination-list-wrapper {
	width: 760px;
	margin: 36px 0 75px 40px;
}

.pagination-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

	margin: 0;
	padding: 0;
}

.pagination-list .button-back,
.pagination-list .button-next {
	display: block;
	padding: 23px;
}

.pagination-list .button-back {
	padding-left: 28px;
}

.pagination-list .button-next {
	padding-right: 28px;
}

.pages-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	padding: 0;
	padding-left: 5px;
}

.pages-list li:not(:last-of-type) {
	margin-right: 25px;
}

.feedback-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.feedback-form p {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

/*---- Скрытые элементы - позже подкорректировать ----*/

.temporarily-hidden {
	display: none;
}